.center {
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(255, 0, 255, 0.3);
}

.headTop > .center {
    position: relative;
}

.headBottom > .center {
    position: relative;
}


/* header */
#header {
    border-top: 3px solid #2c1810;
    border-bottom: 1px solid #483325;
}

/* headTop */
.headTop {
    background: #f8faf0;
    border: 1px solid #e5e2e0;
}

.logo {
    text-align: center;
    padding: 37px 0 43px;
}

.leftGnb {
    position: absolute;
    top: 50px;
}

.leftGnb > li {
    float: left;
    margin-right: 25px;
    font-size: 10px;
}

.rightGnb {
    position: absolute;
    right: 0;
    top: 35px;
}

.rightGnb > li {
    float: left;
    line-height: 45px;
    margin-left: 30px;
    font-size: 10px;
}

.rightGnb > li span {
    margin-right: 15px;
}

.rightGnb > li:first-child > a {
    color: #ff6000;
}


/* headBottom */
.headBottom {
    text-transform: uppercase;
    position:relative;
    z-index: 1000;
}

.headBottom .member {
    float: left;
    line-height: 54px;
}

.headBottom .member > li {
    float: left;
    margin-right: 40px;
    font-size: 11px;
    letter-spacing: 2px;
}

.headBottom .member > li > a {
    color: #998366;
    font-weight: 600;
}

.headBottom #nav {
    float: right;
}

.headBottom #nav > li {
    float: left;
    margin-left: 100px;
}

.headBottom #nav > li > a {
    display: block;
    line-height: 54px;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

.headBottom #nav > li > a:after {
    content: "";
    display: none;
    width: 4px;
    height: 4px;
    border: 4px solid #f9b234;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -6px;
    z-index:100;
}

.headBottom #nav > li:hover > a:after {
    display: block;
}

.headBottom #nav > li:hover > a {
    color: #f9b234;
}

.headBottom .subWrap {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
/*    background-color: #ddd;*/
    line-height: 2em;
    padding-top:40px;
}

.headBottom .subWrap .sub{
    float:left;
}
.headBottom .subWrap .sub>li{
    float:left;
    margin-right:50px;
}

.headBottom .subWrap .sub>li>a{
    display: block;
    font-weight: bold;
    padding-bottom:10px;
}

.headBottom .subWrap .navBanner{
    float:right;
}

.headBottom #nav>li:hover .subWrap{
    display: block;
}

.headBottom:hover:before{
    content:"";
    display: block;
    width: 100%;
    height:300px;
    background:white;
    border-bottom:1px solid #999;
    position:absolute;
    top:55px;
}


/* #container*/
/* #container{

} */

/* .mainBanner */
.mainBanner{
     width:100%;
     height:659px;
    overflow: hidden;
    position:relative;
}

.mainBanner>.mBanner{
    width:800%;
    height:100%;
}

.mainBanner>.mBanner>li{
    width:12.5%;
    height:100%;
    float:left;
}

.mainBanner>.mBanner>li>a{    
    display:block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center;
}

.mainBanner>.mBanner>.banner1>a{
    background-image:url("../img/mainBanner1.png");
}

.mainBanner>.mBanner>.banner2>a{
    background-image:url("../img/mainBanner2.png");
}

.mainBanner>.mBanner>.banner3>a{
    background-image: url("../img/mainBanner3.jpg");
}

.mainBanner>.mBanner>.banner4>a{
    background-image: url("../img/mainBanner4.jpg");
}

.mainBanner>.mBanner>.banner5>a{
    background-image: url("../img/mainBanner5.jpg");
}

.mainBanner>.mBanner>.banner6>a{
    background-image: url("../img/mainBanner6.jpg");
}

.mainBanner>.mBanner>.banner7>a{
    background-image: url("../img/mainBanner7.jpg");
}

.mainBanner>.mBanner>.banner8>a{
    background-image: url("../img/mainBanner8.jpg");
}

.mainBanner>.circleBtn{
    position:absolute;
    bottom:80px;
    left:50%;
    margin-left:-80px;
}

.mainBanner>.circleBtn>li{
    float:left;
    padding:5px;
}

.mainBanner>.circleBtn>li.active{
    padding:2px;
}

.mainBanner>.circleBtn>li>a{
    display: block;
    width:10px;
    height:10px;
    background:#333;
    border-radius: 50%;
    text-indent:-9999px;
}

.mainBanner>.circleBtn>li.active>a{
    width:16px;
    height:16px;
    background:white;
}

.mainBanner>.arrowBtn{
    position: absolute;
    width:1200px;
    height:30px;
    top:50%;
    left:50%;
    margin-left:-600px;
}

.mainBanner>.arrowBtn>a{
    position:absolute;
    color:white;
    font-size:18px;
    font-weight: bolder;
    border-bottom:2px solid white;
}

.mainBanner>.arrowBtn>.prev{
    left:-40px;
    padding-left:30px;
}

.mainBanner>.arrowBtn>.next{
    right:-40px;
    padding-right:30px;
}

/* .contents */
.contents {}

.newEventWrap {
    background-color: antiquewhite;
}

.newEventWrap .new {
    padding: 90px 0 0;
}

.newEventWrap .new > * {
    float: left;
}

.newEventWrap .new > h2 {
    padding-top: 18px;
}

.newEventWrap .new > .textBox {
    padding-top: 15px;
    margin: 0 0 0 100px;
}

.newEventWrap .new > .textBox::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #ab9b7f;
    margin-bottom: 25px;
}

.newEventWrap .new > .textBox strong {
    display: block;
    color: #392213;
    font-size: 17px;
    font-weight: 400;
    width: 220px;
    word-break: keep-all;

}

.newEventWrap .new > .textBox span {
    display: block;
    color: #a19e99;
    font-size: 11px;
    margin-top: 10px;
}

.newEventWrap .new > .iframe {
    float: right;
    position: relative;
}

.newEventWrap .new > .iframe .ribon {
    position: absolute;
    background: #ffba00;
    line-height: 20px;
    padding: 0 5px 0 10px;
    color: white;
    font-weight: bold;
    top: 10px;
    left: -10px;
}

.newEventWrap .new > .iframe .ribon::after {
    content: "";
    display: block;
    width: 10px;
    height: 20px;
    background: url("../img/bg_brand.png") 
        no-repeat;
    position: absolute;
    top: 0px;
    right: -10px;
}

/* event */
.newEventWrap .event {
    background-color: azure;
    padding: 20px 0;
    position: relative;
}

/* .event .eventBanner {

} */

.event .eventBanner > li {
    float: left;
    width: 260px;
    height: 445px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 42px;
}

.event .eventBanner > li:last-child {
    margin-right: 0;
}

.event .eventBanner > li > a > img {
    width: 100%;
}

.event .eventBanner>li div {
    padding: 10px 20px;
    position: relative;
}

.event .eventBanner > li h3 {
    font-size: 23px;
    color: #372317;
    font-weight: 400;
    margin-bottom: 10px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event .eventBanner > li .icon {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.event .eventBanner > li .benefit {
    font-size: 17px;
    border-top: 1px solid #ccc;
}

.event .eventCircleBtn {
    text-align: center;
    margin: 50px 0;
}

.event .eventCircleBtn > li {
    display: inline-block;
    margin: 50 5px;
}

.event .eventCircleBtn > li > a {
    display: block;
    width: 8px;
    height: 8px;
    background: #c1ae96;
    border-radius: 50%;
    text-indent: -99999px;
}

.event .more {
    position: absolute;
    top: -45px;
    left: 0;
}

.event .more > a {
    display: block;
    width: 154px;
    line-height: 43px;
    color: #ab9b7f;
    border: 1px solid #c8bfb0;    
    border-radius: 5px;
    text-align: center;
}

/* sloganWrap */
.sloganWrap {
    height: 400px;
    background: url("../img/img_banner_1_1.jpg")
        center center fixed;
}

.sloganWrap>div {
    position: relative;
    left: 50%;
}

.sloganWrap>.scrollText1 {
    top: 100px;
    margin-left: -328px;
}

.sloganWrap>.scrollText2 {
    top: 200px;
    margin-left: -230px;
}

.menuWrap {
    text-align: center;
    padding: 70px 0 100px;
}

.subTitle {
    font-size: 17px;
    color: #392213;
    margin: 20px 0 10px;
}

.menuWrap .menu {
    margin-top: 30px;
}

.menuWrap .menu>li {
    float: left;
    width: 20%;
}

.menuWrap .menu>li:hover p {
    right: -10px;
    top: -10px;
    border: 1px solid #ddd;
}

.menuWrap .menu>li>div {
    background-color: #c4b597;
    border-radius: 50%;
    width: 222px;
    height: 222px;
}

.menuWrap .menu>li>div>p {
    background: #ffffff;
    border-radius: 50%;
    position: relative;
}

.menuWrap .menu>li strong {
    display: block;
    font-size: 22px;
    color: #372317;
    margin: 20px 0 30px;
}

.menuWrap .menu>li a {
    display: inline-block;
    border: 1px solid #c8bfb0;
    color: #ab9b7f;
    padding: 5px 16px;
}

/* store */
.storeWrap {
    height: 400px;
    background: url("../img/img_banner_1_2.jpg")
       no-repeat center center fixed;
       position: relative;
    
}

.storeWrap>div {
    width: 380px;
    height: 380px;
    padding: 170px 10px 0 100px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
}

.storeWrap .store {
    background: url("../img/bg_map.png");
    top: -50px;
    margin-left: -452px;
}

.storeWrap .store>div h3 {
    color: #ffffff;
    font-size: 17px;
}

.storeWrap .store>div p {
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
}

.storeWrap .store p span {
    color: #ff8a00;
}

.storeWrap>.catering {
    background: url("../img/bg_catering.png");
    bottom: -50px;
    margin-left: -47px;
}

.storeWrap .catering h3 {
    color: #372317;
    margin-left: 50px;
}

.storeWrap>.catering p {
    color: #665449;
    margin-left: 50px;
}

/* snsWrap */
.snsWrap {
    padding: 100px 0 60px;
    text-align: center;
}

.snsWrap .sns {
    margin: 20px 0 40px;
}

.snsWrap .sns>li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.snsWrap .sns>li>a {
    display: block;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid #c8bfb0;
    text-indent: -9999px;
}

.snsWrap .sns>li>a::before {
    content: "";
    display: block;
    width: 26px;
    height: 19px;
    background: url("../img/icon_sns_l.png")
        no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -13px;
}

.snsWrap .sns>li:nth-child(2)>a::before {
    background-position: 0 -19px;
}

.snsWrap .sns>li:nth-child(3)>a::before {
    background-position: 0 -38px;
}

.snsWrap .sns>li:nth-child(4)>a::before {
    background-position: 0 -57px;
}

.snsWrap .sns>li:nth-child(5)>a::before {
    background-position: 0 -76px;
}

.snsWrap .listWrap {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.snsWrap .listWrap>ul {
    width: 3900px;
}

.snsWrap .listWrap li {
    float: left;
    width: 260px;
    height: 230px;
}

.snsWrap .listWrap li img {
    width: 100%;
}

/* footer */
