/*list*/
.list>li{
/*    list-style-type: circle;*/
/*    list-style-type:disc; 기본*/
    list-style-type:square;
    list-style-position:inside;
/*    list-style-position:outside; 기본*/
}

ol>li{
/*    list-style-type:armenian;*/
/*    list-style-type:decimal-leading-zero;*/
/*    list-style-type:lower-alpha;*/
    list-style-type:upper-roman;
}
.banner>li{
    list-style:none;
}
