.transform {
    width: 284px;
    height: 284px;
    overflow: hidden;
}

.transform img {
    transition: 0.5s;
}

.transform:hover img {
    transform: scale(1.2);
}

.background {
    width: 284px;
    height: 284px;
    background: url("../image/1599636322.jpg")
        center center;
    background-size: 100%;
    transition: 0.5s;
}

.background:hover {
    background-size: 120%;
}