.wrap {
    width: 300px;
    margin: 50px auto;
    background-color: antiquewhite;
}

.wrap>div {
    width: 180px;
    height: 50px;
    text-align: center;
    border: 1px solid #333;
    background: #eee;
    float: left;
    margin: 5px;
    transition: 0.5s;
}

.wrap>div:hover {
    transform: scale(1.2);
}

.wrap>.box1 {
    transform-origin: right center;
}

.wrap>.box3 {
    transform-origin: left top;
}