/* CSS Display-Flex 02 */
* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 800px;
    height: 500px;
    background-color: #faebd7;
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.wrap>div {
    border: 1px solid #000000;
}

.wrap>.box1 {
    width: 50px;
    height: 50px;
    background: #ff0000;
}

.wrap>.box2 {
    width: 60px;
    height: 60px;
    background: #ffa500;
}

.wrap>.box3 {
    width: 70px;
    height: 70px;
    background: #ffff00;
}

.wrap>.box4 {
    width: 80px;
    height: 80px;
    background: #008000;
}

.wrap>.box5 {
    width: 90px;
    height: 90px;
    background: #0000ff;
}

.wrap>.box6 {
    width: 100px;
    height: 100px;
    background: #00008b;
}

.wrap>.box7 {
    width: 110px;
    height: 110px;
    background: #800080;
}

.wrap>.box8 {
    width: 50px;
    height: 50px;
    background: #ff0000;
}

.wrap>.box9 {
    width: 60px;
    height: 60px;
    background: #ffa500;
}

.wrap>.box10 {
    width: 70px;
    height: 70px;
    background: #ffff00;
}

.wrap>.box11 {
    width: 80px;
    height: 80px;
    background: #008000;
}

.wrap>.box12 {
    width: 90px;
    height: 90px;
    background: #0000ff;
}

.wrap>.box13 {
    width: 100px;
    height: 100px;
    background: #00008b;
}

.wrap>.box14 {
    width: 110px;
    height: 110px;
    background: #800080;
}