* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#nav>li {
    display: inline-block;
    width: 200px;
}

.sub {
    display: none;
}

#nav>li>a:hover + .sub {
    display: block;
}