* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    color: #444;
}

.noticeWrap {
    margin: 50px;
    width: 493px;
    height: 222px;
    border: 1px solid #ccc;
    background: url(../img/m_box_bg12.jpg)
        no-repeat 30px center;
}

.noticeWrap>.title {
    font-size: 18px;
    padding: 25px 0 0 32px;
}

.notice {
    margin: 30px 0 0 150px;
    line-height: 1.5;
}

.notice>li {
    background: url(../img/bluet02.gif)
        no-repeat 0 8px center;
    padding-left: 10px;
}

.notice>li>a {
    display: inline-block;
    width: 180px;
    background: gold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noticeWrap>li>span {
    margin-left: 50px;
}